<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum atque laboriosam dolorum corporis? Neque nihil ex corrupti ipsa deserunt maiores.
        </p>
    </header>
    <div style="width: 30%; padding: 4rem;">
        <div class="card card--secondary">
            <header class="card__header">Card title</header>
            <div class="card__body">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex dolorem officia dolor quis magnam ullam voluptate, architecto eaque ea commodi!
            </div>
        </div>
    </div>
</section>
<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum atque laboriosam dolorum corporis? Neque nihil ex corrupti ipsa deserunt maiores.
        </p>
    </div>
    
</section>